.test {
    position: absolute;
    top: 15rem;
    right: 27%;
    text-align: center;
    color: yellow;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

.backround {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 35rem;
    right: 50%;
    height: 8rem;
    width: 20rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.backround:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.abt {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 35rem;
    right: 30%;
    height: 8rem;
    width: 20rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.abt:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}


.redirect-1 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 110.4rem;
    height: 4.5rem;
    width: 7rem;
    font-size: 1.9rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    border-radius: 12px;
}

.redirect-1:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.kachva {
    color: yellow;
    font-size: x-large;
    position: absolute;
    top: 6rem;
}

.redirect-3 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.redirect-3:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.redirect-4 {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.redirect-4:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.logo {
    position: absolute;
    right: 5rem;
    top: 9rem;
    height: 25rem;
    width: 25rem;

}

.aboutus {
    position: absolute;
    top: 4.5rem;
    width: 45rem;
}

.thanks {
    position: absolute;
    color:palevioletred;
    left: 46rem;
    top: 12.5rem;
    width: 45rem;
}

.thanks2 {
    position: absolute;
    color:palevioletred;
    top: 9.1rem;
    left: 46rem;
    width: 45rem;
}
.aboutus1 {
    position: absolute;
    color: palevioletred;
    top: 4.5rem;
    left: 46rem;
    width: 45rem;
}

.tanks {
    position: absolute;
    top: 12.6rem;
    width: 45rem;
}

.mail1 {
    position: absolute;
    top: 17.3rem;
}

.mail2 {
    position: absolute;
    top: 19.56rem;
}

.mail3 {
    position: absolute;
    top: 3.2rem;
}

.mail4 {
    position: absolute;
    top: 5.4rem;
}

.en-about {
    position: absolute;
    color: palevioletred;
    top: 0rem;
    left: 46rem;
    width: 45rem;
}

.vryzka {
    position: absolute;
    top: 20rem;
}

.vryzka-1 {
    position: absolute;
    top: 6rem;
}

.vryzka-2 {
    position: absolute;
    color:palevioletred;
    top: 20rem;
    left: 46rem;
    width: 45rem;
}

.dumbell-1 {
    height: 25rem;
    width: 25rem;
}

.dumbell-1-stan {
    position: absolute;
    top: 25rem;
    right: 71rem;
}

.p-1 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.gloves-1 {
    height: 25rem;
    width: 25rem;
}

.gloves-1-stan{
    position: absolute;
    top: 25rem;
    right: 41rem;
}

.p-2{
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.protein-1-stan {
    position: absolute;
    top: 25rem;
    right: 11rem;
}

.protein-1 {
    height: 25rem;
    width: 25rem;
}

.p-3 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.dumbells {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 12rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.dumbells:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.gloves {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 17.5rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.gloves:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.professional {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 23rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.professional:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.protein {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 28.5rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.protein:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.sports {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 34rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.75rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.sports:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.hiking {
    border: black;
    margin: auto;
    background-color: #ADD8E6;
    position: absolute;
    top: 39.5rem;
    right: 107.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.75rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.hiking:hover { 
    background-color: black;
    color: #ADD8E6;
    transition: all 200ms ease-in;
}

.cart {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 4.5rem;
    width: 7rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    border-radius: 12px;
}

.cart:hover { 
    background-color: #ADD8E6;
    transition: all 200ms ease-in;
}

.work {
    position: absolute;
    top: 23rem;
    right: 24rem;
    color: yellow;
    font-size: 7rem;
}

.boxing-1-stan {
    position: absolute;
    top: 15rem;
    right: 60rem;
}

.boxing-1 {
    height: 30rem;
    width: 30rem;
}

.g-1{
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.back-1 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.back-1:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.boxing-pic {
    position: absolute;
    top: 10rem;
    right: 60rem;
    height: 40rem;
    width: 40rem;
}

.boxing-h2 {
    position: absolute;
    top: 10rem;
    right: 5rem;
    color: palevioletred;
    font-size: 3rem;
}

.boxing-p {
    position: absolute;
    top: 15rem;
    right: 5rem;
    font-size: 2.5rem;;
    font-style: italic;
    color: palevioletred;
}

.boxing-back {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 200ms ease-in;
}

.boxing-back:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.boxing-cart {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 23rem;
    right: 11rem;
    height: 5rem;
    width: 11rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.boxing-cart:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.cvqt {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: #202020;
    height: 10rem;
    width: 150rem;
}

.opit {
    position: absolute;
    top: 8rem;
    right: 0rem;
    height: 2rem;
    width: 150rem;
    background-color: black;
}

.opit-2 {
    position: absolute;
    right: 105rem;
    top: 10rem;
    background-color: #808080;
    height: 82rem;
    width: 15rem;
}

.opit-3 {
    position: absolute;
    top: 8rem;
    right: 104rem;
    height: 84rem;
    width: 2rem;
    background-color: black;
}

.ime {
    position: absolute;
    top: 0rem;
    right: 40rem;
    color: yellow;
    font-size: 3.5rem;
}

.cvqt-1 {
    position: absolute;
    top: 0rem;
    right:0rem;
    height: 67.5rem;
    width: 35rem;
    background-color: #585858;
}

.boxing-info{
    color:
    yellow;
    position: absolute;
    font-size: x-large;
    top: 33rem;
    right: 4rem;
}

.ufc-1 {
    height: 30rem;
    width: 30rem;
}

.ufc-1-stan{
    position: absolute;
    top: 15rem;
    right: 15rem;
}

.g-2{
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.knuckles-1-stan {
    position: absolute;
    top: 55rem;
    right: 60rem;
}

.knuckles-1 {
    height: 30rem;
    width: 30rem;
}

.g-3 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.winter-1-stan {
    position: absolute;
    top: 55rem;
    right: 15rem;
}

.winter-1 {
    height: 30rem;
    width: 30rem;
}

.g-4 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.final {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 10rem;
    width: 170rem;
    background-color: #202020;
}

.about-top {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 8rem;
    width: 120rem;
    background-color: #202020;
}

.cart-img {
    height: 3.5rem;
    width: 4rem;
}