.test {
    position: absolute;
    top: 15rem;
    right: 27%;
    text-align: center;
    color: yellow;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

.backround {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 35rem;
    right: 50%;
    height: 8rem;
    width: 20rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.backround:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.abt {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 35rem;
    right: 30%;
    height: 8rem;
    width: 20rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.abt:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}


.redirect-1 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.redirect-1:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.kachva {
    color: yellow;
    font-size: x-large;
    position: absolute;
    top: 6rem;
}

.redirect-3 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.redirect-3:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.logo {
    position: absolute;
    right: 10rem;
    top: 10rem;
    height: 25rem;
    width: 25rem;

}

.aboutus {
    position: absolute;
    top: 4.5rem;
}

.tanks {
    position: absolute;
    top: 12.5rem;
}

.mail1 {
    position: absolute;
    top: 23rem;
}

.mail2 {
    position: absolute;
    top: 25rem;
}

.vryzka {
    position: absolute;
    top: 25rem;
}

.vryzka-1 {
    position: absolute;
    top: 6rem;
}

.dumbell-1 {
    height: 25rem;
    width: 25rem;
}

.dumbell-1-stan {
    position: absolute;
    top: 25rem;
    right: 75rem;
}

.p-1 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.gloves-1 {
    height: 25rem;
    width: 25rem;
}

.gloves-1-stan{
    position: absolute;
    top: 25rem;
    right: 45rem;
}

.p-2{
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.protein-1-stan {
    position: absolute;
    top: 25rem;
    right: 15rem;
}

.protein-1 {
    height: 25rem;
    width: 25rem;
}

.p-3 {
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.dumbells {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 90rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.dumbells:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.gloves {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 78rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.gloves:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.professional {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 66.5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.professional:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.protein {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 55rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.protein:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.sports {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 43rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.sports:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.hiking {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 31rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.hiking:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.cart {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 5rem;
    height: 4rem;
    width: 10rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.cart:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.work {
    position: absolute;
    top: 23rem;
    right: 24rem;
    color: yellow;
    font-size: 7rem;
}

.boxing-1-stan {
    position: absolute;
    top: 10rem;
    right: 90rem;
}

.boxing-1 {
    height: 25rem;
    width: 25rem;
}

.g-1{
    color: yellow;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

.back-1 {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.back-1:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.boxing-pic {
    position: absolute;
    top: 10rem;
    right: 60rem;
    height: 40rem;
    width: 40rem;
}

.boxing-h2 {
    position: absolute;
    top: 23rem;
    right: 20rem;
    color: yellow;
    font-size: 3rem;
}

.boxing-p {
    position: absolute;
    top: 27rem;
    right: 30rem;
    font-size: 2.5rem;;
    font-style: italic;
    color: yellow;
}

.boxing-back {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 2rem;
    right: 108rem;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.boxing-back:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}

.boxing-cart {
    border: black;
    margin: auto;
    background-color: yellow;
    position: absolute;
    top: 35rem;
    right: 28rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.boxing-cart:hover { 
    background-color: black;
    color: yellow;
    transition: all 200ms ease-in;
}
