.test {
    text-align: center;
    color: yellow;
    font-size: xx-large;
}
body {
    background-image: url(/bck.jpg);
}
.b {
    text-align: center;
    background-color: white;
    color: yellow;
}